$nav-text: #1C1B1B;
$branding-red: #F03A3A;
$hover-red: #F03A3A;
$nav-bg: white;

.wrapper {
	@include outer-container;
	padding: 0em 0em 0em 0em;
}

.dtv-header{
	position: fixed;
	left:0; top:0; width:100%;
	height: 80px;
	padding: 0px 0px;
	background-color: white;
	z-index: 100;

	transition: top 0.6s;
}


.navRow {
	@include row();
	display: table;
	margin: 0 auto;
	float: right;
	padding: 1.7em 1.5em 0em 0em;
	li {
		display: inline;
		margin: 0em 2em;
		font-size: 0.8em;
		color: $nav-text;
		font-weight: 500;
	}
	@include media($mobile){
    	display: none;
  };
    transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
}

.logo {
	@include row();
	display: table;
	margin: 0 auto;
	float: left;
	padding: 0.7em 0em 0em 0em;
	li {
		display: inline;
		margin: 0em 0em 0em 1.5em;
		font-size: 2em;
		color: $branding-red;
		font-weight: bold;
		text-decoration: none;
		border-bottom: 0.2em solid $branding-red;
	}
}

.box{
	width: 22%;
	background-color: black;
}

a {
	color: $nav-text;
	padding-bottom: 1em;
}

a:hover {
	color: $branding-red;
	border-bottom: 0.3em solid $hover-red;
	padding-bottom: 0.3em;
	transition: color 0.5s ease,
                padding-bottom 0.2s ease;
}

.dtv-header.off-canvas {
  top: -80px;
}
.dtv-header.fixed {
  top:0;
  z-index: 9999;
}
