---
title: Page1

---




.main
	.index2_promoHeader
		%img.gameOfThrones(src="/images/index2/index2_header.jpg")
		.index2_page2_row
			%ul.title
				%li OVERVIEW
				%li EPISODES
				%li CAST & CREW
		.index2_wrapper
			-# .index2_page2_row
			-# 	%ul.title
			-# 		%li MENU 1
			-# 		%li MENU 2
			-# 		%li MENU 3
			-# 		%li MENU 4
			.blog_1
				%h1 Blog Title 
				%h2 The word POETRY originates from a Greek word meaning TO MAKE. A poet is thus a maker and the poem something that is made or created. No single definition of poetry is possible but some characteristic features of poetry may be mentioned. Poetry has a musical quality with rhythm, pitch, metre and it may use figures of speech such as simile and metaphor. While quite a few english poems in this selection are in traditional forms, the unit also includes modern poems that are free from formal restrictions. 
			.blog_1
				%h1 Blog Title 
				%h2 The word POETRY originates from a Greek word meaning TO MAKE. A poet is thus a maker and the poem something that is made or created. No single definition of poetry is possible but some characteristic features of poetry may be mentioned. Poetry has a musical quality with rhythm, pitch, metre and it may use figures of speech such as simile and metaphor. While quite a few english poems in this selection are in traditional forms, the unit also includes modern poems that are free from formal restrictions. 

			